<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kevincampos.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PopularMovies">

        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/PopularMovies.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
®
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.moviedetail.MovieDetailActivity"
            android:theme="@style/PopularMovies.MovieDetail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>

        <service
            android:name=".data.database.MovieUpdateService"
            android:exported="false" />

        <provider
            android:name=".data.database.MovieProvider"
            android:authorities="me.kevincampos.popularmovies"
            android:exported="false"/>

    </application>

</manifest>